.visor {
  border: 1px solid;
}

.title-left {
  color: #db3397;
  font-weight: bold;
}

.fecha {
  color: #db3397;
  font-style: italic;
}

.section-left {
  margin-top: 2rem;
}

.img-favoritos {
  width: 100%;
  border-radius: .5rem;
}

.section-left div.row div {
  padding: .3rem;
  border: 1px solid;
  border-radius: .5rem;
}

.title-fav {
  margin: .5rem 0;
}

.cabecera {
  margin-top: 1rem;
  border-radius: 3px;
}

.title-post {
  margin-top: 1.5rem;
}

.comentario {
  padding: .5rem;
  background: #dddddd;
  border-radius: .8rem;
}

.comentario {
  margin-top: .5rem;
}

.column-right-post {
  background: #FFE9F8;
}

.column-right {
  background: rgb(244, 178, 222, .7);
}

.bg-central {
  background: rgb(124, 146, 214, .8);
}

.bg-fondo {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 40em) {
  .eslogan {
    text-align: right;
    margin: .5rem 1.5rem 0;
    font-style: italic;
  }

  .logo {
    border-right: 1px solid #897a7a;
    padding: 1.5rem;
  }

  .column-left {
    background: #DDDFF4;
  }
}

.botones-left {
  margin-bottom: 0.3rem;
}

.list-nav{
  list-style: none;
  margin-left: 0;
}
@media(max-width: 39em) {
  .logo {
    padding: 1rem;
  }
  .titulo-logo{
    font-weight: bold;
  }
  .eslogan {
    font-style: italic;
    margin: 1rem 0;
  }

  .fecha {
    text-align: center;
  }

  .title-post {
    text-align: center;
  }
}

.flow-text {
  font-weight: 300;
}

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem;
  }
}
