.bg-img {
  background-image: url(../img/fondo.jpg);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-color {
  background: #fff;
}

.bg-container {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

.nav {
  display: inline-flex;
}

.eslogan {
  font-style: italic;
}

.img-post {
  border-radius: .5rem;
}

.fecha {
  font-style: italic;
}

.icono-form {
  color: #0277bd;
}

.redes-sociales {
  width: 3.5rem;
  margin-top: 1rem;
  border-radius: .8rem;
}

@media (min-width: 601px) {
  .img-logo {
    position: absolute;
    bottom: -1.5rem;
  }

  .contenedor-logo {
    border-radius: .5rem;
    position: relative;
  }

  .boton {
    margin: 1rem .2rem;
  }

  .nav {
    float: right;
    margin: 1rem 0 0;
  }

  .eslogan {
    text-align: right;
    margin: 1rem 0 0;
  }
}

@media (max-width: 600px) {
  .img-logo {
    margin: 1.5rem 0 0;
  }

  .boton {
    margin: 1rem .2rem;
  }

  .nav {
    margin: 1.5rem 0 0;
  }

  .eslogan {
    text-align: center;
    margin: 1rem 0 0;
  }

  .margin-m-h {
    margin: 0 auto;
  }

}





.visor {
  border: 1px solid black;
}
